<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!--El listener “ContextLoaderListener” se utiliza para inicializar el contexto de spring.
	Esta clase utiliza la variable de contexto “contextConfigLocation” para determinar los
	archivos de configuración:-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--Agregando el listener “HttpSessionEventPublisher”al  web.xml causa el evento “ApplicationEvent”
	para publicar al contexto de spring cada vez que comienze o termine un  HttpSession. Esto permite que
	 la aplicacion escuche todos los eventos relacionados con la session del usuario (creacion y destruccion).
	  Estos eventos heredan de ApplicationEvent. Este listener es para controlar las veces que un usuario esta
	   logueado en la aplicación-->	
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml classpath:spring-security.xml</param-value>
	</context-param>
	<!-- En el parámetro de contexto “log4jConfigLocation” le indicamos la ubicación y el nombre del fichero de
	propiedades donde mantenemos la configuración de log4j. Podemos hacer uso de los prefijos de Spring para
	indicar que dicho fichero forma parte del classpath, se encuentra en una ubicación fija en disco o en una URL.-->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.xml</param-value>
	</context-param>
	<!--servlet-name: Nombre del servlet. Servlet-class: Clase del servlet.
	<load-on-startup> indica que el servlet asociado se debe cargar e iniciar cuando se inicie la aplicación web de la que forma parte.
	El contenido opcional de este elemento es un entero que indica el orden en el que se debe cargar e iniciar el servlet con respecto a
	los demás servlets de la aplicación web. Si <load-on-startup> está vacío, indica que el orden no es relevante, siempre y cuando el
	servlet se cargue e inicie durante el inicio de la aplicación web que lo contiene.-->		
	<!-- Lo siguiente inicializa el contexto spring MVC mediante un init-param (el contexto spring de MVC que ya definimos arriba se inicializa con el
	 archivo dispatchContext.xml):-->	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:dispatchContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>		
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>org.springframework.js.resource.ResourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resource Servlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<!-- Mantener orden de filtros -->
	<!--"securityContextPopulatorFilter“ es el primer filtro. En el “applicationContext.xml” 
	se redefinio la clase del filtro a “SecurityContextPopulatorFilter.java”-->	
	<filter>
        <filter-name>securityContextPopulatorFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>securityContextPopulatorFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- El filtro “springSecurityFilterChain” se define para interceptar todas las peticiones.
    Este filtro escuchará las solicitudes de login/loguot de sesión y procesará en consecuencia.
    También capturará AccesDeniedExceptions y redirigir al usuario a la página de inicio de sesión.-->    
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
	<!-- Pagina inicial de la Aplicacion-->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>

